@font-face {     font-family: ST-SimpleSquare; src: url('./fonts/ST-SimpleSquare.otf');} 

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 100%;
	max-width: 1200px;
	margin: 20px;
	border-radius: 15px;
	overflow: hidden;
}

#canvas-container {
	width: 686px;
	height: 440px;
	position: relative;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px 10px 0 0;
	position: relative;
    z-index: 1;
	margin-top: 12px;
}

canvas {
	width: 100%;
	height: 100%;
}

.upgrade-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    will-change: transform, opacity, left, right;
}

@keyframes moveToLaptop {
    0% {
        left: -50px;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        left: 110px;
        opacity: 0;
    }
}

@keyframes moveFromLaptop {
    0% {
        right: 110px;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        right: -50px;
        opacity: 0;
    }
}

.moving-to-laptop {
    animation: moveToLaptop 1.4s linear forwards;
}

.moving-from-laptop {
    animation: moveFromLaptop 1.4s linear forwards;
}

/* Hidden SVG sprite container */
.svg-sprites {
	display: none;
}

.container {
	height: 500px;
	width: 1000px;
    margin-top: 40px;
	display: flex;
	justify-content: center;
	position: relative;
}

.laptop {
	top: 0;
	position: absolute;
}

#cursor {
    height: 40px;
    letter-spacing: 1px;
  }

  .typing-block, .typing-block-3 {
    display: flex;
    align-items: center;
    white-space: nowrap;
height: 50px;
font-family: 'ST-SimpleSquare';
font-style: normal;
font-weight: 400;
font-size: 45px;

leading-trim: both;
text-edge: cap;
text-align: center;

color: #191919;


}

.typing-block-1 {

    padding-right: 10px;
}


.typing-block-2 {

font-family: 'ST-SimpleSquare';
font-style: normal;
font-weight: 400;
font-size: 45px;

leading-trim: both;
text-edge: cap;
text-align: center;

color: #900F37;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 2000px; /* Increased perspective for more dramatic effect */
    perspective-origin: 50% 100%; /* Changed to bottom center for upward perspective */
    min-height: 100vh;
    position: relative;
}

.feed img {
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    will-change: transform;
    transform: translateZ(0);
    position: relative;
}